<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hoboken Apartment Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../public/css/main.css" rel="stylesheet">
</head>

<body>
<div class="apt_title">
<header>
  <h1> Hoboken Apartment Finder </h1>
  <nav>

  <div class="title_p">     
    <form id="homepage-view" action="/" method="GET"> 
      <button class="Homepage-button" type="submit"> Homepage </button>
    </form>
  </div> 
   
    <div class="apartment_p">    
      <form id="apartments-form" action="/apartments" method="GET"> 
        <button class="Apartments-button" type="submit"> Apartments </button>
      </form>
    </div>
    
<div class="account_p">   
    <form id="account-form" action="/users/protected" method="GET"> 
      <button class="Account-button" type="submit"> Account </button>
    </form>
     </div>

    <div class="log_p">  
      {{#if user.username}}
        <form id="logout-form" action="/users/logout" method="GET"> 
          <button class="logout-button" type = "submit"> Logout </button>
        </form>
  
      {{else}}
        <form id="login-form" action="/users/login" method="GET"> 
          <button class="Login-Signup-button" type = "submit"> LogIn/Signup </button>
        </form>

      {{/if}}
    </div>

  </nav>
</header>
</div>

    <main>
        {{{body}}}
    </main>

</body>


</html>