
  <div class="homepage_c">
  <p class = "title">Welcome to QuizGo! 
 </p>
 <p class = "description">
  QuizGo is an interactive website that aides students with studying by allowing them to study by answering created quizzes. <br>
There is a feature to sign up and log in so users could store their own words and definitions so they could create quizzes and study!
 </p>
    </div>



<footer class="text-center text-lg-start bg-light text-muted">
  
    <p class="p1"> Creators: </p>
    <ul class="b">
    <li>Daniel Partika</li> 
    <li>Elton Vaz</li>
    <li>Sri Hari Shankar</li>
    <li>Daniel Martinez</li>
    <li>Cody Fernandez</li>
    <li>Tahyr Bayryyev</li>
  </ul>
  
</footer>

