
  <div class="homepage_c">
  <p> Description of QuizGo </p>
    </div>


<footer>
  <p class="p1">
    Creators: </p>
 <ul class="b">
    <li>Daniel Partika</li> 
    <li>Elton Vaz</li>
    <li>Sri Hari Shankar</li>
    <li>Daniel Martinez</li>
    <li>Cody Fernandez</li>
  </ul>
</footer>

