
  <div class="image">
  <img src="../homepage_view.jpg" alt="Hoboken"> </div>
  <div class="homepage_c">
  <p>   The people of Hoboken today find it stressful when it comes to picking the right apartment to lease
    and live in. However, it is handy to be given a list of apartments that fit your criteria without
    having to go through many different websites to find the best fit. Therefore this website is focused
    on building a web application of user-submitted apartment evaluations so that other users can
    search and browse by apartment name, price, and ratings. What puts us apart from our competitors is the
    fact that we only accept apartments from the city of Hoboken allowing us to better meet the demands of
    the people of Hoboken.  </p>
    </div>


<footer>
  <p class="p1">
    Creators: </p>
 <ul class="b">
  
    
    <li>Daniel Partika</li> 
    <li>Sri Hari Shankar</li>
    <li>Elton Vaz</li>
    <li>Cody Fernandez</li>
   
  </ul>
 
</footer>

