<div class="homepage_c">
  <p class = "title">Welcome to QuizGo! 
 </p>
 <p class = "description">
  QuizGo is an interactive website that aides students with their studying by allowing them to create custom quizzes on the subject of their choosing! <br><br>
  Here is a quick rundown on this website's features:<br>
  <span class="test1">Word Lists</span> shows the study guides created by all QuizGo users, allowing them to pick and study one.<br>
  <span class="test1">Create</span> allows users with QuizGo accounts to make their own custom word list to study and share with all QuizGo users.<br>
  <span class="test1">Homepage</span> brings all users back to this page.<br>
  <span class="test1">Account</span> shows info regarding each user's personal information, as well as their created lists.<br>
  <span class="test1">Login/Signup</span> allows new users to register an account in order to use our features, and old users to Login.<br>
 </p>
    </div>



<footer class="text-center text-lg-start bg-light text-muted">
  
    <p class="p1"> Creators: </p>
    <ul class="b">
    <li>Daniel Partika</li> 
    <li>Elton Vaz</li>
    <li>Sri Hari Shankar</li>
    <li>Daniel Martinez</li>
    <li>Cody Fernandez</li>
    <li>Tahyr Bayryyev</li>
  </ul>
  
</footer>