<main>
    <div class="login_p">  
  {{#if error}}
  <h2> {{title}} </h2>
  <p class="error">{{error}}</p>
  {{/if}}
 
  <form id="login-form" action="/users/login" method="POST">
    <label for="usernameInput">Username</label>
    <input id="usernameInput" name="usernameInput" type="text" required/>
    <label for="passwordInput">Password</label>
    <input id="passwordInput" name="passwordInput" type="password" required/>
    <button type="submit" class="login-button">Login</button>
  </form>

  <nav> <a href="/users/register">Click here to register!</a> </nav>
    </div>
  
</main>