.button {
  background-color: #c91e1e;
  color: #f2f2f2;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.description{
  font-size: 20pt;
}

.title{
  font-size: 40pt;

}

.button:hover {
  background-color: #f2f2f2;
  color: #c91e1e;
}

li{
  color: rgb(185, 8, 8);
  font-size: 10pt;
}

.plus{
  padding: 0em 0.4em;
}

body {
  background-color: #bbbbbb;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  color: #882f2f;
}

a {
  color: #c91e1e;
  text-decoration: none;
}

p, dt,dl,label {
  color: black;
}

a:hover {
  color: #f2f2f2;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

table td, table th {
  border: 1px solid #c91e1e;
  padding: 8px;
  text-align: left;
  color: black;
}

table th {
  background-color: #c91e1e;
  color: #f2f2f2;
}

.menu-bar {
  background-color: #811414;
  color: #fff;
  position: relative;
}

/*? i dont think we need this nav, but idk */
nav {
  height: 50px;
  display: flex;
  justify-content: space-evenly; /* Center the contents horizontally */
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for the list items */
  flex-wrap: wrap; /*?maybe get rid of this*/
  justify-content: space-between;
}

.menu-bar li {
  margin: 0 20px; /*?10 px*/
  position: relative;
}

.menu-bar button {
  display: block;
  color: #3f2626;
  text-decoration: none;
  padding: 10px; /*?10px*/
  position: center;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #720909;
  color:#25a5d8;
}

.image {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
  width: 200px;
  height: 150px;
  margin: 50px auto;
  border: 1px solid black;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.start-button:hover {
  transform: scale(1.1);
}

#flashcard div[id^="word-"] {
  display: none;
}
#definition-0 {
  display: none;
}

