{{!Page where users can browse other people's lists. Add a search by feature}}

<ul>
  {{#each list}}
  <li>
    <a href="/lists/list/{{this.user}}">{{this.name}} Word: {{this.word}}<a>
  </li>
  {{/each}}
</ul>

<footer>
  <form id="addNewList-form" action="/lists/createList" method="GET">
    <label for="newList">Add new List</label>
    <button type="submit" class="plus">+</button>
  </form>
</footer>
